@font-face {
  font-family: 'iconfont';
  src: url('./font/iconfont.eot?t=1499153770046'); /* IE9*/
  src: url('./font/iconfont.eot?t=1499153770046#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('./font/iconfont.woff?t=1499153770046') format('woff'),
    /* chrome, firefox */ url('./font/iconfont.ttf?t=1499153770046')
      format('truetype'),
    /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
      url('./font/iconfont.svg?t=1499153770046#iconfont') format('svg'); /* iOS 4.1- */
}

[class^='icon-'] {
  font-family: 'iconfont' !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.editor {
  display: block;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 14px;
}
.editor.fullscreen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  z-index: 500;
  height: 100%;
  overflow: scroll;
}
.editor.fullscreen .md-editor {
  height: 100%;
}
.topBar {
  border-bottom: 1px solid #ccc;
  box-shadow: 0 0 1px #ccc;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.toolbar {
  padding: 0 5px;
  background: #fff;
  width: 50%;
}
.modebar {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-left: 1px solid #ccc;
}
.modebar ul {
  float: right;
}
.tb-btn {
  float: left;
  font-size: 20px;
  list-style: none;
  margin: 0 2px;
}
.tb-btn a {
  display: inline-block;
  position: relative;
  text-align: center;
  padding: 7px;
  cursor: pointer;
  color: #aaa;
}
.tb-btn a:hover {
  color: #0081ff;
  background-color: #eee;
}
.icon-bold:after {
  content: '\e609';
}
.icon-italic:after {
  content: '\e632';
  font-size: 18px;
}
.icon-link:after {
  content: '\e61e';
  font-size: 18px;
}
.icon-outdent:after {
  content: '\e7a6';
  font-size: 18px;
}
.icon-code:after {
  content: '\e69e';
  font-size: 18px;
}
.icon-pic:after {
  content: '\e606';
  font-size: 18px;
}
.icon-list-o:after {
  content: '\e69b';
}
.icon-list-u:after {
  content: '\e88b';
}
.icon-title:after {
  content: '\e605';
}
.icon-full-screen:after {
  content: '\e603';
}
.icon-write-mode:after {
  content: '\e60a';
}
.icon-split-screen:after {
  content: '\e60c';
}
.icon-preview:after {
  content: '\e676';
}
.icon-help::after {
  content: '\e653';
}
.md-editor {
  position: relative;
}
.editor-erea {
  width: 50%;
  height: 100%;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
  background-color: #fff;
}
.editor-erea.expand {
  width: 100%;
}
.editor-erea textarea {
  border-style: none;
  resize: none;
  outline: 0;
  height: 100%;
  min-height: 540px;
  width: 100%;
  font-size: 22px;
  padding: 10px 15px 0;
}
.editor-preview {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  left: 50%;
  background-color: #f6f6f6;
  padding: 15px;
  border-left: 1px solid #ccc;
  overflow: auto;
  -webkit-transition: left 0.3s, width 0.3s;
  transition: left 0.3s, width 0.3s;
}
.editor-preview.shrink {
  left: 100%;
  width: 0px;
  padding: 0;
}
.editor-preview.expand {
  left: 0;
  width: 100%;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.innerModal {
  width: 400px;
  height: 400px;
  background: #fff;
  border-radius: 5px;
  color: #333;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -200px;
  padding: 15px;
  line-height: 0.5rem;
  text-align: center;
}
.helpTitle {
  text-align: center;
  font-weight: bold;
}
.helpInfo {
  margin-bottom: 15px;
  text-align: left;
}
.close {
  border: 0;
  background: #0081ff;
  color: #fff;
  border-radius: 4px;
  padding: 5px 15px;
  cursor: pointer;
}
.close:hover {
  box-shadow: 0px 0px 0px 4px #2483d2;
}
/*图片上传弹框*/
.modal-content {
  position: absolute;
  top: 260px;
  left: 50%;
  margin-left: -300px;
  width: 600px;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #e2e2e2;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}
.modal-header {
  border-bottom: 1px solid #eee;
  padding: 10px 15px;
}
.modal-header .modal-title {
  font-size: 0.5rem;
  font-weight: normal;
  color: #666;
}
.modal-body {
  padding: 10px 15px;
  border-bottom: 1px solid #eee;
}
.modal-body .nav-tabs {
  border-bottom: 1px solid #eee;
  list-style: none;
}
.modal-body .nav-tabs:befor {
  content: '';
  clear: both;
}
.modal-body .nav-tabs:after {
  display: table;
  content: '';
  clear: both;
}
.modal-body .nav-tabs li {
  padding: 10px 10px;
  display: block;
  float: left;
  margin-bottom: -1px;
  cursor: pointer;
  color: #0081ff;
}
.modal-body .nav-tabs li.active {
  cursor: default;
  border: 1px solid #eee;
  border-bottom: 1px solid #fff;
  color: #666;
}
.tab-panel {
  margin-top: 20px;
}
.input-group {
  margin-bottom: 15px;
  display: table;
  width: 100%;
}
.input-group span {
  display: table-cell;
  width: 80px;
  font-size: 15px;
  font-weight: normal;
  color: #777;
  text-align: center;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 0;
  vertical-align: middle;
}
.input-group input.input-group-input {
  display: table-cell;
  width: 100%;
  height: 36px;
  padding: 6px 12px;
  font-size: 15px;
  color: #3f3f3f;
  vertical-align: middle;
  border: 1px solid #eee;
  border-left: 0px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.025);
}
.input-group input.input-group-input:focus {
  border-color: rgba(79, 161, 219, 0.5);
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.025), 0 0 12px -1px #4fa1db;
}
::-webkit-input-placeholder {
  color: #ccc;
}
.modal-footer {
  padding: 10px 15px;
  height: 50px;
  overflow: hidden;
}
.modal-footer button {
  float: right;
  height: 30px;
  width: 80px;
  margin-left: 15px;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  color: #fff;
}
.modal-footer button.cancelbtn {
  background-color: #666;
}
.modal-footer button.cancelbtn:hover {
  background-color: #555;
}
.modal-footer button.submitbtn {
  background-color: #0081ff;
}
.modal-footer button.submitbtn:hover {
  background-color: #2483d2;
}
.btn-group {
  position: relative;
  margin-right: 110px;
}
.btn-group .label {
  cursor: pointer;
  height: 30px;
  border: 1px solid #eee;
  line-height: 30px;
  white-space: nowrap;
  overflow: hidden;
  color: #777;
}
.label b {
  display: inline-block;
  padding: 0 15px;
  background: #eee;
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  margin-right: 10px;
}
.inputFile {
  cursor: pointer;
  position: absolute;
  top: 0;
  width: 102%;
  height: 30px;
  margin-left: -2%;
  opacity: 0;
}
.btnUpload {
  cursor: pointer;
  position: absolute;
  top: 0;
  width: 100px;
  height: 30px;
  background: #ddd;
  right: -110px;
  border: 1px solid #ddd;
  color: #666;
  border-radius: 3px;
}
.tab-panel p.tips {
  margin: 10px 0px;
  color: #999;
}
.preview-box {
  margin-top: 20px;
  width: 160px;
  height: 160px;
  margin: 0 auto;
  border: 1px solid #eee;
  text-align: center;
  display: table;
}
